.body-background{
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/101/241/original/free-abstract-background-4-vector.jpg);
}

img{
    height: 1cm;
    width: 1cm;
}

body{
    text-align: center;
}